<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CategoryThreeImages</key>
	<array>
		<string>SourPatchKids</string>
		<string>Haribo</string>
		<string>AirHeads</string>
		<string>Twizzlers</string>
	</array>
	<key>CategoryTwoImages</key>
	<array>
		<string>Strawberry</string>
		<string>WarHeads</string>
		<string>Lolipops</string>
		<string>JollyRanchers</string>
	</array>
	<key>CategoryOneImages</key>
	<array>
		<string>hersheys</string>
		<string>KitKat</string>
		<string>Twix</string>
		<string>CrunchBar</string>
	</array>
</dict>
</plist>
